body {
  margin: 0;
  font-family: hack,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  padding: 0px;
  margin: 0px;
  padding-top: 20px;
}

.App
{
  text-align: center;
}